body{
  font-family:"Roboto", sans-serif;
  color: #434455;
  background-color:#FFFFFF
}
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
	height: auto;
}
.container{
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav{
  display: flex;
  align-items: center;
}

  a{
    text-decoration: none;
}
.studio{

font-family: "Raleway", serif;
color:#2e2f42;}
.studio-footer{
color: #F4F4FD;
display: inline-block;
}
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform:uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.menu{
  display: flex;
  gap: 40px;

}
h1{
font-family: "Roboto";
font-size: 56px;
font-weight: 700;
line-height: 60;
letter-spacing: 0.02em;
text-align: center;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px; 
  margin: -1px;
  padding: 0;  
  overflow: hidden;
  clip: rect(0, 0, 0, 0); 
  border: 0;
  }
  .link-header .container {
    display: flex;
    align-items: center;
}
.link-header{
  border-bottom: 1px solid #e7e9fc;
  font-style: normal;
}
.link-head{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  padding: 24px 0;
  display: block;
}
.address-list{
  display: flex;
  gap: 40px;
}
.link-head:hover,
.link-head:focus{
color:#404bbf;
}
.address-head{
  font-style: normal;
  margin-left: auto;
}
.link-address{
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.02em;
text-align: left;
color:#434455;
line-height: 1.5
}
.link-address:focus, 
.link-address:hover{
  color: #404BBF;
}
h2{
font-family: "Roboto";
font-size: 20px;
font-weight: 500;
line-height: 24;
letter-spacing: 0.02em;
text-align: left;
}
h3{
font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 24;
letter-spacing: 0.02em;
text-align: left;
}
.section-one{
  background-color:#2e2f42;
  padding: 188px 0;

}
.business{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.button-order{
  display: block;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
.button-order:hover,
.button-order:focus{
  background-color: #404BBF;
  cursor: pointer;
}
.zag{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.para{
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-tree{
  background-color: #F4F4FD;
  padding: 120px 0;
}
.zag-tree{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color:#2e2f42;
  margin-bottom: 72px;
}
.pic{
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-72px)/4);
}
.name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.para-job{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.person{
  padding: 32px 0
}
.section-four{
  padding-top: 120px;
  padding-bottom: 120px;
}
.zag-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color:#2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin: 0;
}
.portfolio{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
  margin-bottom: 8px;
}
.portfolio-item{
 width: calc((100% - 48px)/3);
}
.portfolio-name {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer{
  background-color:#2e2f42;
  padding: 100px 0;
}
.footer-para{
  line-height: 1.5;
  color:#F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.section-two{
  padding: 120px 0;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two{
  padding: 120px 0;
}
.section-two-list{
  display: flex;
  gap: 24px;
}
.section-two-item{
  width: calc((100% - 72px) / 4);
}
.list-prof{
  display: flex;
  gap: 24px;
}
.footer-logo{
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}